#test config
trace=false

username=manoj@cheenath.com
password=123456

enterprise-endpoint=http://localhost:7001/services/Soap/c/13.0
partner-endpoint=http://localhost:7001/services/Soap/u/13.0
apex-endpoint=http://localhost:7001/services/Soap/s/13.0

test-root=/home/mcheenath/dev/app/main/clients/connector/test

