/**
 * This is a test header - <%="hi there"%>
 * create on <%=new java.util.Date()%>
 */

public class TestClass {

  public void someOtherMethod<%="()"%>{
    <% for(i=0; i<10; i++) { %>
    System.out.println("hi there"); <%}%>
  }
}